<template>
  <div>
    <clv-menu/>
    <clv-text prefix="Contact: ">This is the Contact page in Nuxt3 / app-contact</clv-text>
    <clv-search />
    <p @click="increment">Counter: {{ data?.counter }}</p>
    <p @click="reset">Total: <client-only>{{ total }} </client-only></p>
  </div>
</template>

<script setup lang="ts">
import { ClvMenu, ClvText, ClvSearch } from 'javier-sedano-ufe5-component-library-vue3';
import 'javier-sedano-ufe5-component-library-vue3/style.css';
import { useTotalStore } from "../stores/total.store";

const totalStore = useTotalStore();

const { total } = storeToRefs(totalStore);

const { data } = await useAsyncData('res', async () => {
  const counter = Math.round(Math.random() * 10) + 1;
  return {
    counter,
  };
});

async function increment() {
  if (data?.value?.counter !== undefined) {
    data.value.counter++;
    totalStore.increment(data.value.counter);
  }
}

async function reset() {
  totalStore.reset();
}

</script>